<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Handlebars</title>
</head>
<body>
    <nav>Barra de navegação</nav>
    {{{body}}}  <!-- Aqui o conteúdo da view será inserido -->
    <footer>
        <p>Rodapé</p>
        </footer>
</body>
</html>
