*{
    font-family: Helvetica;
}
h1 {
    text-align: center;
}

.form,
.books-container {
    width: 500px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .9em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input {
    padding: 5px;
}

/* BOOOOOOOOOOOOOOOOOOOOOOOOOKS*/

.books-container div {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.bold {
    font-weight: bold;
}